.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  margin-right: 0.5rem;
  margin-left:0.5rem;
}
textarea {
  margin: 0.5rem;
  font-size: 1rem;
}
p {
  margin-top: 0.25rem;
  font-size: 1rem;
}
label {
  margin-top:0.25rem;
  margin-bottom:0;
  
}
h1
{
  font-size:1.25rem;
}
select 
{
  margin-top: 0;
  margin-bottom:0.5rem;
  margin-right: 0.5rem;
  margin-left:0.5rem;
}
.img-container {
  text-align: center;
  display: block;
}
.imgload {
  width:10vw;
  height:10vw;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: 1em;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
